.analysts__container {
    padding: 20px 10px;

    .analyst__header {
        color: white;
        font-size: 32px;
        background: #1b6fa3;
        text-align: center;
        padding: 5px;
        border-radius: 20px;
    }

    .analyst__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 20px 0;

        .video__thumbnail {
            cursor: pointer;
            color: #fff;
            width: 320px;
            margin: 8px 8px;
        }
    }
}