.compare__container {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;

  .compare__player1,
  .compare__player2,
  .compare__player3,
  .compare__player4 {
    flex: 0 0 47%;
    text-align: center;
    background-color: #192734;
    border-radius: 20px;
    margin: 1.5%;
    padding: 15px 0;

    .compare__search-container {
      display: flex;
      flex-direction: column;

      .compare__player-list {
        max-height: 300px;
        overflow: hidden;
        margin: 10px 0;
        color: #fff;
        padding: 10px;

        .compare__player-row {
          cursor: pointer;
        }
      }
    }

    .compare__player-container {
      color: #fff;
      text-align: start;

      .compare__player-header {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;

        .compare__player-close {
          cursor: pointer;
          width: 17px;
          font-size: 14px;
          border-radius: 9999px;
          background-color: #1b6fa3;
          padding: 4px;
          text-align: center;

          &:hover {
            background-color: #1da0f2;
          }
        }
      }

      .compare__player-info {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
        font-weight: bold;
        padding: 0 15px;
      }

      .compare__previous-year,
      .compare__next-fixtures {
        padding: 0 15px;
        font-size: 14px;
        color: #1da0f2;
        margin: 5px 0;
      }

      .compare__player-stats,
      .compare__player-ict {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        padding: 5px 15px;

        .stats__header-row,
        .stats__row {
          display: flex;
          justify-content: space-between;
        }

        .stats__header-row {
          .stats__label {
            flex: 0 0 13%;
          }
        }

        .stats__row {
          margin-top: 10px;

          .stats__value {
            flex: 0 0 13%;
          }
        }
      }

      .compare__player-extra-stats {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        padding: 5px 15px;

        .stats__header-row,
        .stats__row {
          display: flex;
          justify-content: space-between;
        }

        .stats__header-row {
          .stats__label {
            flex: 0 0 11%;
          }
        }

        .stats__row {
          margin-top: 10px;

          .stats__value {
            flex: 0 0 11%;
          }
        }
      }

      .compare__player-ict {
        background: #1b6fa3;
        border-radius: 10px;
        margin: 5px 0;
      }
    }
  }
}
