.header__wrapper {
  display: flex;
  padding: 10px 5%;

  .app__title {
    cursor: pointer;
    color: #fff;
    padding: 12px 10px;
    text-decoration: none;
  }

  .header__button-home, 
  .header__button-allplayers, 
  .header__button-compare,
  .header__button-analysts,
  .header__button-social {
    margin: 0 15px;
    min-width: 90px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;

    line-height: 17px;
    padding: 13px 0;
    background: #1b6fa3;
    border-radius: 9999px;

    &:hover {
      background: #1da0f2;
    }
  }

  .header__button-home.active,
  .header__button-allplayers.active,
  .header__button-compare.active,
  .header__button-analysts.active,
  .header__button-social.active {
    background: #1da0f2;
    text-decoration: none;
  }
}
