body {
  background: #15202b;
  font-family: 'Roboto', sans-serif;
}

.loader__container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.7);

  .loader {
    position: absolute;
    left: 45%;
    top: 35%;
    width: 120px;
    height: 120px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid;
    border-top-color: #1da0f2;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-left-color: #1da0f2;
    border-right-color: rgba(255, 255, 255, 0.3);
    -webkit-animation: loader 1s ease-in-out infinite;
    animation: loader 1s ease-in-out infinite;
  }
  @keyframes loader {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}
