.social__container {
  display: flex;
  flex-wrap: wrap;

  .social__column {
    padding: 2.5%;
    flex: 0 0 28%;

    .column__header {
      font-size: 26px;
      color: #fff;
      text-align: center;
      margin-bottom: 15px;
    }

    .column__element {
      .reddit__element {
        background-color: #292f33;
        border-radius: 5px;
        color: #fff;
        height: 600px;
        overflow-x: hidden;
        overflow-y: hidden;

        .reddit__header {
          padding: 10px;
          font-size: 20px;
          border-bottom: 1px solid rgba(145, 165, 180, 0.6);
        }

        .reddit__viewport {
          overflow-x: hidden;
          overflow-y: scroll;
          height: 600px;

          .reddit__row {
            cursor: pointer;
            border-bottom: 1px solid rgba(145, 165, 180, 0.6);

            .row__title {
              padding: 15px 10px;
            }

            &:hover {
              background-color: rgba(25,30,35,.61)
            }
          }
        }
      }
    }
  }
}
