.players__list {
    padding: 20px;
  
    .player__row {
      display: table-row;
      cursor: pointer;
  
      .column__header{
          flex: 0 0 11%;
      }
  
      .row__entry {
          flex: 0 0 11%;
      }
    }
  }
  