.teams__container {
  .teams__list {
    margin: 5%;
    display: table;
    border-radius: 10px;
    overflow: hidden;
    background-color: #292f33;
    border: 0 solid #000;
    border-collapse: collapse;
    

    .team__row:first-child {
      border-bottom: 1px solid rgba(145, 165, 180, 0.6);

      &:hover {
        background-color: #292f33;
        cursor: default;
      }
    }

    .team__row {
      display: table-row;
      cursor: pointer;
      color: #fff;
      text-decoration: none;

      .column__header {
        display: table-cell;
        padding: 10px 10px;
      }

      .row__entry {
        display: table-cell;
        padding: 5px 10px;
      }

      .row__entry:last-child {
        color: #1da0f2;
      }

      .row__entry.fixtures {
        display: flex;
        flex-wrap: wrap;

        .single__fixture {
          color: #292f33;
          width: 70px;
          text-align: center;
        }

        .single__fixture.easy {
          background-color: #01fc7a;
        }

        .single__fixture.medium {
          background-color: #e7e7e7;
        }

        .single__fixture.hard {
          background-color: #ff1751;
        }
      }

      &:hover {
        color: #fff;
        background-color: #15202b;
      }
    }
  }

  .team__social {
    margin: 5% 5%;
  }
}
